@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --success-color: #2ecc71;
  --error-color: #e86c5e;
  --primary-color: #ae9cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ae9cff;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  width: 400px;
}

form {
  padding: 30px 40px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
  color: rgb(83, 81, 81);
}

/* label, input, error message */
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 8px;
  /* text-transform: capitalize; */
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}

.form-control input:focus {
  outline: 0;
  border-color: var(--primary-color);
}

/* different states for input */
.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  background-color: var(--error-color);
  color: #fff;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  bottom: -15px;
  left: 0;
  visibility: hidden;
}

.form-control small::after {
  content: "";
  position: absolute;
  width: 10px;
  background-color: var(--error-color);
  left: 50%;
  aspect-ratio: 1;
  top: -3px;
  transform: translateX(-50%) rotate(48deg);
}

.form-control.error {
  margin-bottom: 30px;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.form button:hover {
  background-color: #fff;
  color: var(--primary-color);
}
